.fill-remaining-space{
    flex: 1 1 auto;
}
.search-bar-config{
    align-self: center;
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

.customize {
    background: red;
  }
.img-dimension{
    width:25px;
}
.img-dimension-sm{
    width:15px;
}
.mat-basic-chip{
    height: 5px !important;
    width: auto;
    background-color: red;
}
::placeholder{
    color:grey;
    text-align: center;
    font-size: 15px;
}