.fill-remaining-space{
    flex: 1 1 auto;
}
.search-bar-config{
    align-self: center;
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 4px;
}

.customize {
    background: red;
  }
.img-dimension{
    width:25px;
}